body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #161b22;
    color: white;
}


.loginstyle1{
    align-items: center;
    text-align: center;
}


.loginstyle1 h3{
    color: aliceblue;
    text-align: center;
    margin: 0 auto 15px ;
}

.loginstyle1 h3 .judul2 {
    color: blueviolet;
}

.loginstyle1 img {
    width: 150px;
    text-align: center;
    /* padding-left: 45%; */
}

.loginstyle2 {
    
    background-color: #161b22;
    color: aliceblue;
    border: 2px solid gray;
    margin-bottom: 15px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 25px 25px;
}

.block1 {
    display: block;
}

.block1 input {
    padding-left: 5px;
    padding-right: 118px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid gray;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #161b22;
    color: aliceblue;
    text-align: left;
    border-radius: 10px;
}

.block1 input:hover {
    border: 2px solid rgb(40, 57, 216);
    background-color: #161b22;
}

.block1 input:focus {
    outline: none;
}

.block2 {
    padding-top: 10px;
    display: block;
    text-align: center;
}

.block2 input {
    background-color: green;
    padding: 10px 126.5px;
    text-align: center;
    border: 1px solid gray;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    border-radius: 10px;
}

.block2 input:hover {
    background-color: rgb(2, 87, 2);
    border: 1px solid rgb(5, 29, 252);
}

.block2 input:focus {
    outline: none;
}

.logologin{
    text-align: center;
    padding-top: 40px;
    align-items: center;
    margin: auto;
    width: 360px;
}

.logologin1 {
    align-items: center;
    display: flex;
    border: 2px solid gray;
    border-radius: 15px;
    /* padding: 0 5px; */
}

.logologin2 {
    padding: 0 10px;
}

.logologin2 h4 {
    margin-top: 0;
    font-size: 12px;
    
}

.logologin2 img{
    width: 65px;
    margin: 0 auto;
    text-align: center;
    /* padding: 0 100px; */
}
